* text=auto
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
path/to/Hide-And-Squeaks-Web-Panel.zip filter=lfs diff=lfs merge=lfs -text
